.main {
  min-height: 800px;
  overflow: hidden;
  margin: 50px;
  background-color: var(--article);
  transition: all 0.7s ease-in-out;
  text-align: center;
  border-radius: 10px;
  transition: all 0.7s ease-in-out;
  color: var(--font-color);
}
