.infoElement {
  width: 150px;
  :hover {
    text-decoration: underline;
  }
  cursor: pointer;
  h6 {
    margin: 10px;
  }
  margin-right: 1rem;
}

.infoButton {
  background-color: var(--home);
  border-radius: 5px;
  padding: 6px 5px 0px 5px;
  transition: background 0.7s ease-in-out;
  min-height: 2rem;
  margin: 0rem 0rem 0.5rem 0rem !important;
  color: var(--font-color);
}
