.underHeader {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  background-color: var(--background-color);
  transition: all 0.7s ease-in-out;
}

.bigColumn {
  display: flex;
  flex-direction: column;
}
