:root {
  --font-color: #333;
  --background-color: rgb(212, 186, 138);
  --bg: url("./img/headerbg1920.jpg");
  --plank: rgb(99, 68, 43);
  --planktext: rgb(255, 255, 255);
  --border: white;
  --article: rgb(255, 255, 255);
  --btnNavBefore: rgb(132, 221, 236);
  --btnNavAfter: rgb(97, 180, 201);
  --underTitle: rgb(255, 223, 204);
  --workingbg: rgb(255, 156, 62);
  --saw: 100%;
  --arrow: 0%;
  --home: rgb(159, 255, 121);
  --link: rgb(0, 81, 255);
  --h5: rgb(0, 107, 230);
  --fat: rgb(31, 184, 0);
  --msg: rgb(194, 39, 0);
  --menuBurgerBefore: rgb(255, 223, 204);
  --menuBurgerAfter: rgb(235, 208, 182);
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: rgb(32, 32, 32);
  --bg: url("./img/dmheaderbg1920.jpg");
  --plank: rgb(48, 33, 21);
  --planktext: rgb(214, 214, 214);
  --border: rgb(128, 128, 128);
  --article: rgb(43, 43, 43);
  --btnNavBefore: rgb(37, 55, 116);
  --btnNavAfter: rgb(51, 75, 153);
  --underTitle: rgb(27, 27, 27);
  --workingbg: rgb(161, 91, 25);
  --saw: 75%;
  --arrow: 100%;
  --home: rgb(54, 53, 156);
  --link: rgb(0, 238, 255);
  --h5: rgb(88, 160, 255);
  --fat: rgb(115, 255, 50);
  --msg: rgb(255, 133, 32);
  --menuBurgerBefore: rgb(27, 27, 27);
  --menuBurgerAfter: rgb(37, 37, 37);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
  transition: all 0.7s ease-in-out;
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
}

.sun,
.moon {
  height: 30px;
  width: 30px;
  @media only screen and (max-width: 600px) {
    height: 18px;
    width: 18px;
  }
}

.toggle-theme {
  position: relative;
  height: 40px;
  width: 80px;
  background-color: rgb(51, 95, 145);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  @media only screen and (max-width: 600px) {
    height: 26px;
    width: 50px;
  }
}

.toggle-theme input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 34px;
  width: 34px;
  left: 3px;
  position: absolute;
  transition: 0.4s;

  @media only screen and (max-width: 600px) {
    height: 20px;
    width: 20px;
  }
}

input:checked + .slider:before {
  transform: translateX(40px);
  @media only screen and (max-width: 600px) {
    transform: translateX(25px);
  }
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
